 /* Styles for scroll-to-top button */
 #scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 30px;
    background-color: #16436A;
    border: 2px solid #fff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}